@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
  font-size: 14px;
}

/* Header */

.header {
  background: #f1f1f1;
  padding-top: 46px;
}

.header-navigate {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 76px;
}

.header__logo {
  position: relative;
  font-weight: 700;
  font-size: 32px;
  color: #000;
  padding: 0 12px 3px 0;
  line-height: 1;
}

.header__logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fda300;
  border-radius: 50%;
}

/* Header nav */

.header-nav__list {
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 14px;
}

.header-nav__link {
  color: #000;
}

.header-nav__link.active {
  color: #606060;
}

/* Header content */

.header__row {
  text-align: center;
  padding-bottom: 40px;
}

.header__content {
  min-width: 500px;
  margin-top: 124px;
}

.header__heading {
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
}

.header__text {
  font-size: 20px;
  line-height: 2;
  width: 50%;
  margin: 0 auto;
}

/* Service */

.services {
  padding: 90px 0;
  width: 100%;
}

.services-row {
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
}

.service-card {
  width: 33%;
}

.service-card__img {
  margin-bottom: 30px;
  margin-left: 20px;
}

.service-card__content {
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
}

/* Portfolio */
#portfolio {
  background-color: #f1f1f1;
  padding: 90px 0px;
}

.portfolio__title {
  text-align: center;
  margin-bottom: 70px;
  font-size: 34px;
  font-weight: 600;
}

.project {
  text-align: center;
}

.project + .project {
  margin-top: 90px;
}

.project__img {
  margin-bottom: 40px;
}

.project__title {
  font-size: 18px;
}

.project__title a {
  color: #000;
  text-decoration: underline;
}

#contacts {
  padding: 90px 0;
  text-align: center;
}

.contacts__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 34px;
}
.contacts__content {
  font-size: 18px;
  margin-bottom: 40px;
}
.contacts-button {
  margin: 40px auto;
  background-color: #070707;
  width: 180px;
  border-radius: 20px;
  padding: 7px 10px;
}

.btn {
  color: #f1f1f1;
}

.contacts-socials {
  height: 50px;
}

.contacts-socials__img {
  padding: 0 20px;
  height: 50px;
}
